[services.moto]
type = "sftp"
host = "moto"
user = "hell"
port = 8022
# or use one of:
# key_file = "~/.ssh/id_rsa"
password = "pass"
# identity_agent = "/path/to/agent.sock"

# use it like this:
# yazi sftp://moto
# or visit it once and bookmark it